.container {
  display: flex;
flex-direction: row;

margin-top: 8px;
margin-bottom: -20px;
margin-left: -4px;
margin-right: 15px;
height: 80px;
}
.MuiOutlinedInput-inputMarginDense {
padding-top: 3.5px !important;
padding-bottom: 1.5px !important;
text-align: end;

}
.MuiExpansionPanelSummary-root {
  min-height: 72px !important;
}
.Rotate{
margin-left: 245px;
border-radius: 95px;
width: 5px !important;
}
.MuiButton-label {
width: -384% !important;

}
.textflield{
display: flex;
flex-direction: row;
}
.MuiExpansionPanelDetails-root {
  display: flex;
  padding: 8px 6px 16px !important;
  /* margin-left: -4px;
  margin-right: 3px; */
}
.MuiOutlinedInput-notchedOutline {
  /* border-color: rgba(0, 0, 0, 0); */
  /* border-color: white; */
  border-color: rgba(0, 0, 0, 0)!important;
  border-top-color: rgba(0, 0, 0, 0)!important;
  border-right-color: rgba(0, 0, 0, 0)!important;
  border-left-color: rgba(0, 0, 0, 0)!important;
  margin-left: 2;
  margin-Right: 2;
  width: 100;
  font-size: 12;
}
.MuiListItem-root.Mui-selected .MuiListItem-root.Mui-selected:hover {
  background-color: white !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.MuiListItem-root.Mui-selected:hover {
  background-color: white !important;

}
.PrivateNotchedOutline-root-12 .MuiOutlinedInput-notchedOutline{
border-color: rgba(0, 0, 0, 0);
}
.MuiListItem-root.Mui-selected {
  background-color: white !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.MuiSelect-outlined.MuiSelect-outlined {
background-color: white !important;
}
.MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-formControl .MuiInputBase-marginDense .MuiOutlinedInput-marginDense{
background-color: white !important;
}
.MuiExpansionPanel-rounded:last-child {
border-bottom-left-radius: 0px !important; 
border-bottom-right-radius: 0px !important;
}

.MuiExpansionPanel-rounded:first-child {
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
}

.MuiPaper-rounded {
border-radius: 0px !important; 
}

.MuiSelect-outlined {
border-radius:0px !important;
border-bottom-left-radius: 0px !important; 
border-bottom-right-radius: 0px !important;
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
}

.MuiSelect-outlined.MuiSelect-outlined {
padding-right: 32px;
height: 19px !important;
}
input {
border-bottom: white !important; 
}
.mass {
  padding: 19px;
  text-align: end;
  /* height: 10px; */
  /* border: none; */
  box-sizing: border-box;
  background: transparent;
  /* border-radius: 6px;  commentout */
  font-size: 12px;
  font-weight: 300;
  /* width: 22%; */
  /* border: 2px solid gray; */
  outline: none;
  /* margin-right: 17px;
  margin-left: 6px; */
  /* margin-top: 6px; */
  font-family: 'Roboto', sans-serif;
}

.FormUserPage1-scrollable-9 {
overflow-y: hidden !important;
max-height: 100vh;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body { margin: 0; }
.outer {
}
.frame { 
  display: flex;
  width: 100vw;
  height: 100vh;
}
.frame>* {
  flex: 1 1 50%;
}
#editor {
  font-family: monospace;
  padding: .5em;
  background: #444;
  color: white;
}
canvas { 
  width: 100%;
  height: 100%;
}
.parentcontainer1{
  position: absolute;
  width: 100%;
  padding: .5em;    
  left: 5px;
  right: 2px;
}
.container1{
position: absolute;
top: 13px;
left: 170px;  
}
.Picker{
  margin-left: 35px;
  margin-top: -37px;
/* margin-right: 40%; */
}

.LabelColorForDiv{
margin-left: 11px;
  margin-top: 16px;
  font-size: 12px;
}
.container2{
position: absolute;
top: 10;
left: 45px;
}

#labelColor {
position: absolute;
top: 13px;
left: 70px;
}
.flex-col-scroll {
  flex-grow: 1;
  overflow: auto;
  min-height: 100%;
}

.row {
  position: absolute;
  top: -10px;
  left: 57px;
}

canvas { display: block; margin: 0px; padding: 0px; }
#arrowCanvas  {
position: absolute;
left: -30px;
top: 237px;
z-index: 50;

}
#outlined-text0 {
  padding-bottom: 4px !important;
  margin-top: 2px !important;
  padding-top: 2px !important;
}
.one-fourth{
  width: 20px;
  height: 20px;
  z-index: 2;
}
section img {
  height: 42px;
  margin-bottom: 52px;
  /* vertical-align: middle; */
  border-style: none;
}
.MuiCollapse-wrapperInner {
  width: 100%;
  background-color: white;
}
.MuiExpansionPanelDetails-root{
  width: 512px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
